<h1>I'm Sorry This Looks So Terrible</h1>

<table>
    <tr>
        <td>
            <b>Image:</b> <input type="file" (change)="onImageFileChanged($event)"><br>
            <b>Room Config:</b><input type="file" (change)="onConfigFileChanged($event)"><br>
            <b>Products:</b><input type="file" (change)="onProductFileChanged($event)"><br>
            <input type="button" value="Clear Products" (click)="clearProducts()"/>
        </td>
        <td>
            <table border="1" [cellPadding]=3>
                    <td *ngFor="let product of products">
                        <tr><b>Name:</b> {{ product.name }}</tr>
                        <tr><b>Width:</b> {{ product.width }}</tr>
                        <tr><b>Length:</b> {{ product.height }}</tr>
                        <input type="button" value="Add to Living Room" (click)="addProduct(product)"/>
                    </td>

            </table>
        </td>
    </tr>
</table>
<canvas id="canvas"></canvas>